.product{
    margin-left: 20px;
    width: 300px;
    height: 510px;
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
}
.product-info{
    margin-left: 15px;
}
.product img{
    width: 280px;
    height: 280px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
}
.btn-cart{
    width: 100%;
    padding: 10px;
    background-color: rgb(241, 167, 141);
    border: none;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart p{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: orange;
    /* border-radius: 5px; */
    border: none;
}